{% extends "layout/submission_base.html" %}
{% block submission_content %}
  {%- include "partials/submission_detail_body.html" -%}
{%- if sdoc.user.equals(req.credential._id) or req.credential.hasPermission(permissions.VIEW_ANY_SUBMISSION_CODE) %}
  <div class="section">
    <div class="section__header">
      <h1 class="section__title">Source Code</h1>
    </div>
    <div class="section__body">
      <pre><code class="cpp">{{ sdoc.code }}</code></pre>
    </div>
  </div>
{%- endif %}
{% endblock %}
{% block submission_sidebar %}
  <div class="side section">
    <div class="section__header">
      <h1 class="section__title">Submission Info</h1>
    </div>
  {%- if req.credential.hasPermission(permissions.REJUDGE_SUBMISSION) %}
    <ol class="menu">
      <li class="menu__item">
        <form method="POST" action="{{ url('/submission/{0}/rejudge', false, [sdoc._id]) }}">
          <input type="hidden" name="_csrf" value="{{ ui_context.csrfToken }}">
          <button class="menu__link" type="submit">
            <span class="icon icon-refresh"></span>
            Rejudge
          </button>
        </form>
      </li>
    </ol>
  {%- endif %}
    <div class="section__body typo">
      <dl class="large horizontal">
        <dt>Status</dt>
        <dd>
          <span class="icon submission-status--icon {{ sdoc.status }}"></span>
          <span class="submission-status--text {{ sdoc.status }}">
            {{ DI('models.Submission.STATUS_TEXT')[sdoc.status] }}
          </span>
        </dd>
        <dt>Submit By</dt>
        <dd>
          <a href="{{ url('/submission/user/{0}', false, [sdoc.user._id]) }}">
            {{ sdoc.user.profile.displayName }}
          </a>
        </dd>
      {%- if req.credential.hasPermission(permissions.VIEW_ANY_PROFILE) %}
        <dt>Std Id</dt>
        <dd>{{ sdoc.user.profile.studentId }}</dd>
        <dt>Real Name</dt>
        <dd>{{ sdoc.user.profile.realName }}</dd>
      {%- endif %}
        <dt>Submit At</dt>
        <dd>{{ sdoc.createdAt|datetime }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
